@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }
  body {
    @apply overflow-x-hidden !important;
    @apply overflow-y-auto;
    @apply flex flex-col;
  }

  a {
    @apply hover:text-blue-500;
  }
  button,
  .button {
    @apply text-[15px] font-bold whitespace-nowrap py-[6.25px] px-3 gap-[6px] shadow-sm [transition:0.2s] cursor-pointer rounded-[5px] flex items-center justify-center relative;
    @apply disabled:disabled !important;
  }
  input {
    @apply text-sm pl-8 pr-4 py-[7.5px] rounded-md border border-gray-500 outline-none;
  }
  ul > li {
    list-style-type: none; /* Remove prefix from unordered list */
  }

  /* Scrollbar ↴ */
  *::-webkit-scrollbar {
    @apply size-1 bg-white;
  }
  *::-webkit-scrollbar-track {
    @apply bg-white;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-black/20 outline outline-1 outline-transparent rounded-[4px];
  }
  /* ^ Scrollbar ^ */
}
@layer components {
  .card {
    @apply border border-dashed border-light bg-white px-6 py-8 flex flex-col items-center justify-between sm:w-64 w-full rounded-md;
  }
  .base-link {
    @apply px-[14px] py-[10px] flex gap-2 items-center rounded-[3px] text-sm cursor-pointer hover:bg-gray-100 hover:text-link;
  }
  .icon-button {
    @apply text-neutral-600 bg-white p-2 rounded-[50%] size-8;
    @apply hover:bg-gray-100;
    @apply active:bg-gray-200;
    @apply disabled:bg-white !important;
  }

  .primary-button {
    @apply text-white bg-blue-500;
    @apply hover:bg-blue-600/90 active:bg-blue-700/90;
    @apply disabled:bg-blue-500/75 !important;
  }
  .delete-button {
    @apply text-white bg-red-500;
    @apply hover:bg-red-600 active:bg-red-700;
    @apply disabled:bg-red-500/75 !important;
  }
  .warning-button {
    @apply text-white bg-amber-400;
    @apply hover:text-white hover:bg-amber-520;
    @apply active:bg-amber-550;
    @apply disabled:bg-amber-400 !important;
  }

  .link-button {
    @apply text-white bg-link;
    @apply hover:text-white hover:bg-blue-200;
    @apply active:bg-blue-300;
    @apply disabled:bg-link !important;
  }
  .outline-button {
    @apply text-[15px] text-primary bg-white border border-gray-200;
    @apply hover:bg-gray-100;
    @apply active:bg-gray-200;
    @apply disabled:bg-white !important;
  }

  .event {
    @apply whitespace-nowrap overflow-ellipsis overflow-hidden pr-1 absolute w-full cursor-pointer text-neutral-100 text-[13px] pl-2 z-[1] font-bold rounded-[3px] transition-colors select-none bg-link hover:bg-blue-200 active:bg-blue-300 before:content-[''] before:block before:h-[100%] before:w-[5px] before:bg-green-500 before:absolute before:left-0;
  }

  .page-title {
    @apply text-3xl font-bold text-neutral-600 max-w-[400px] whitespace-nowrap overflow-ellipsis overflow-hidden;
  }
  .section-title {
    @apply text-xl font-bold my-3 text-neutral-600;
  }

  .popper-list-item {
    @apply text-neutral-600 cursor-pointer hover:bg-gray-100 p-2 px-3 flex items-center gap-2 mx-2 rounded-md;
  }
  .loading-spinner {
    @apply size-[22.5px] absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .container {
    @apply max-w-[1024px] [@media(min-width:1024px)]:mx-[auto] px-4;
  }
  .disabled {
    &.warning-button {
      @apply bg-amber-400 !important;
    }
    &.icon-button {
      @apply bg-white !important;
    }
    &.primary-button {
      @apply bg-link !important;
    }
    &.link-button {
      @apply bg-link !important;
    }
    &.outline-button {
      @apply bg-white !important;
    }
    &.delete-button {
      @apply bg-red-500 !important;
    }
    @apply opacity-75 cursor-default pointer-events-none;
  }
  .inter-active {
    @apply cursor-pointer hover:bg-gray-100/50 active:bg-gray-200/50;
  }
  .text-truncation {
    @apply whitespace-nowrap overflow-ellipsis overflow-hidden;
  }
  .truncate-fade {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .student-whiteboard {
    & .excalidraw {
      & .App-menu_top,
      & .layer-ui__wrapper__footer-right,
      & .Island,
      & .App-toolbar-container,
      & .undo-redo-buttons {
        @apply hidden !important;
      }
    }
  }
}
